asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
cryptography==3.4.8
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.5
django-allauth==0.45.0
django-crispy-forms==1.13.0
django-daguerre==3.0.0
docopt==0.6.2
filelock==3.0.12
Flask==2.0.1
fontawesome-free==5.15.4
httpie==2.5.0
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
media==0.0.2
num2words==0.5.10
oauthlib==3.1.1
packaging==21.0
Pillow==8.3.2
pipenv==2021.5.29
platformdirs==2.2.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.10.0
PyJWT==2.1.0
pyparsing==2.4.7
pypiwin32==223
PySocks==1.7.1
pytest==6.2.4
pytest-repeat==0.9.1
python-decouple==3.4
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
pywin32==301
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.6
virtualenv==20.7.0
virtualenv-clone==0.5.6
Werkzeug==2.0.1
