{% extends "urlshort_app/base.html" %}
{% block content %}
<div class='container-fluid'>
  <table class="table">
    <thead class='text-center'>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Created</th>
        <th scope="col">Short Url</th>
        <th scope="col">Long Url</th>
      </tr>
    </thead>
    <tbody class='text-center'>
      <tr>
        <th scope="row">{{ urls.code }}</th>
        <td>{{ urls.created }}</td>
        <td>{{ urls.short_url }}</td>
        <td>{{ urls.url }}</td>
        <td></td>
    </tbody>
  </table>
</div>
{% endblock content %}