{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="#">
    
    {% if title %}
    <title>Image Search - {{ title }}</title>
    {% else %}
    <title>Image Search</title>
    {% endif %}


    {% if messages %}
        <ul class="alert alert-success">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
    
</head>
<div class='row'>
    {% if user.is_authenticated %}
    <div class='col-sm-4'>
    <a class='pl-3' href ="{% url 'home' %}">Home</a>
    <a class='pl-3' href="{% url 'profile' user.pk %}"> Profile</a>
    <a class='pl-3' href="{% url 'account_logout' %}">Sign Out</a>
    </div>
    {% else %}
    <div class='col-sm-4'>
    <a class='pl-3' href ="{% url 'home' %}">Home</a>
    <a class='pl-3' href="{% url 'account_login' %}">Sign In</a>
    <a class='pl-3' href="{% url 'account_signup' %}">Sign Up</a>
    </div>
    {% endif %}
    <div class='col-lg-6'>
      <form class="d-flex">
        <input class="form-control me-2" name="query1" type="search" placeholder="Search" aria-label="Search" method=POST>
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

  </div>
<body>
    {% block content %}{% endblock %}
  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html> -->

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="#" <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   
   
   
        {% if title %}
    <title>PDX Library - {{ title }}</title>
    {% else %}
    <title>PDX Library</title>
    {% endif %}
</head>

<body>
    {% block content %}{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>

</html>