{% extends 'splash_app/base.html' %}
{% block content %}

{% for item in orders.items.all %}
   <p>{{ item }}</p> 
{% endfor %}

<table class="table">
    <thead>
      <tr>
          
        <th scope="col">#</th>
        <th scope="col">Profile</th>
        <th scope="col">Order Reference Number</th>
        <th scope="col">Items</th>
      </tr>
    </thead>
    <tbody>
        {% for order in context.orders %}
            
        <tr>
        <th scope="row">1</th>
        <td>{{ user }}</td>
        <td>{{ order }}</td>
        <td>    {% for order in context.developers %}
            <a href="{% url 'detail' order.image_id %}">
            {{ order.image_id }}
            </a>
            {% endfor %}
        </td>
    </tr>
        {% endfor %}

        
    </tbody>
  </table>


{% endblock %}