{% extends "base.html" %} {% block content %}

<h1>Venues in selected {{selected_city}}</h1>
{%for data in venues.items()%}
<p>{{data}}</p>
{%endfor%}

<form action="/events/" method="post">
    <label for="selected-venues" class="form-label">Select one or more venues:</label>
    <!-- display dropdown list of venues for user to select 1+ venues -->
    <input type="checkbox" id="venues" name="select-venues" value="venue_id">
    <button type="submit">Find events</button>
</form>

{% endblock %}