{% extends "base.html" %} {% block content %}

<h1>Venues in {{city}}</h1>
{% for key, value in venues.items() %}
<tr>
    <th> {{ key }} </th>
    <td> {{ value }} </td>
</tr>
{% endfor %}

<!-- {%for data in venues.items()%}
<p>{{data}}</p>
{%endfor%} -->

<form action="/events/" method="post">
    <label for="selected_venues" class="form-label">Select one or more venues:</label>
    <input type="checkbox" id="venues" name="select_venues" value="venue_id">
    <button type="submit">Find events</button>
</form>

{% endblock %}

<!-- tr = table row; th = table header; td = table cell -->