h1 {
    color: #19109c98;
  }


*{
    margin:0 !important;
    padding:0 !important;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }

  /* body{
    background: linear-gradient(to right top, rgb(2, 155, 202), #07dbe2 );

  } */

  .calendar {
    width: 65%;
    margin: auto !important;
    font-size: 46px;
  }
  
  .calendar tr, .calendar td {
    border: 2px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 21px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #bb0935;
  }
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }
  nav{ 
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background :linear-gradient(
       rgba(204, 27, 121, 0.671), 
       rgba(203, 226, 233, 0.863)
       
      );
      font-weight: bold;
      

    }

.logo{
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;

}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  

}

.nav-links li{
    list-style: none;
}
.nav-links a{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;

}

.burger{
  display: none ;
  cursor: pointer;
  
 
}
.burger div{
  width: 25px;
  height: 5px;
  background-color: aliceblue;
  margin: 5px !important;
  transition: all 0.3s ease;
}

.ctrlHolder{
  font-weight: bold;
}
@media screen and (max-width: 1200px){
  
  .nav-links{
  
    width: 60%;
   
  }
}
@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 4.3vh;
  background :linear-gradient(
    rgba(203, 226, 233, 0.863),
    rgba(204, 27, 121, 0.671) 
    );
    
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  }
.nav-links li{
  opacity: 0;
}

.burger{
  /* top: 4vh; */
  display: block;
}

}

calendar{
  background: maroon;
}
.nav-active{
  transform: translateX(0%);
  z-index: 2;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1{
  transform: rotate(-50deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-7px,-11px);
}

main { 

  min-height: 100vh;
  background: linear-gradient(to right top, rgb(2, 155, 202), #07dbe2 );
  display: flex;  
  align-items: center;
  justify-content: center;
 
}

.glass {
 
  min-height: 80vh;
  width: 60%;
  margin:auto !important;
  background: linear-gradient(
    to right bottom,
   rgba(255, 255, 255,0.7),
   rgba(255,255,255, 0.3)
   );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}
  .circle1,
  .circle2{ 
    background: white;
    background: linear-gradient(
      to right bottom,
     rgba(255, 255, 255, 0.8),
     rgba(255,255,255, 0.4)
    );
    height:20rem;
    width:20rem;
    position: absolute;
    border-radius: 80%;
    
  }
.circle1{
  top: 15%;
  right:15%;

}

.circle2{
  bottom: 5%;
  left: 10%
}



  .reset{
  display: flex;  
  align-items: center;
  justify-content: center;
}
.fc .fc-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.form {
    margin: auto !important;
  }
  
.form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #920858;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }
