{% extends 'base.html' %} {% block content %} {% load static %}
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>

{% if gesture == None %}
  <span class="text-center">You've completed all signs. Please check back in {{ timeoutMsg }}</span>
  {% else %}
<div class="container">
  <h1 id="gestureName" class="text-center">{{ gesture.name }}</h1>
  <div class="gestureVidContainer row align-items-start">
    <div class="col">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="text-center align-middle fs-1">Hover to show gesture</p>
          </div>
          <div class="flip-card-back">
            {% with 'imgs/'|add:gesture.imgURL as image_static %}
            <img class="gestureImage" src="{% static image_static %}">
            {% endwith %}
          </div>
        </div>
      </div>


    </div>
    <div class="col">
      <canvas class="output_canvas" width="640px" height="360px"></canvas>

    </div>

  </div>

  <video class="input_video"></video>
  <div class="container row">
    <div class="col"></div>
    <div class="col">
      <form action="{% url 'answer' gesture.id %}" method="post">
        {% csrf_token %}
        <button type="submit" value="{{ gesture.id }}" class="btn btn-success">I got it right</button>
      </form>

    </div>
    <div class="col">
      <form action="{% url 'incorrect' gesture.id %}" method="post">
        {% csrf_token %}
        <button type="submit" value="{{ gesture.id }}" class="btn btn-danger">I got it wrong :(</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <span id="matchAnnounce">Hand sign match!</span>
  </div>
</div>
{% endif %}
{% endblock %}

