{% extends 'base.html' %} {% block content %}
<form action="{% url 'add' %}" method="POST">
    {% csrf_token %} Title: <br />
    <input type="text" name="title" placeholder="Enter Title For To Do Item" /><br /> Description:
    <br />
    <textarea name="text" id="" cols="30" rows="10">
Describe to do item here</textarea
  ><br />
  Status: <br />
  <select name="status">
    <br />
    <option value="True">Complete</option>
    <option value="False">Incomplete</option>
  </select>
  <br />
  <input type="submit" value="add" />
</form>
{% endblock %}