

body {background-image: url("https://cdn.pixabay.com/photo/2017/09/08/09/26/star-2728185_960_720.jpg"); text-align: center; padding-left: 25px; padding-right: 25px;}
li {color:rgb(228, 201, 201); margin: auto; list-style-position: inside; text-shadow: 5px 5px 5px burlywood;}

.title {color:rgb(226, 223, 223); font-size: 40px; padding-bottom: 20px;}
.p1 {color:rgb(231, 230, 235); font-size: 25px; font-style: oblique;padding-top: 25px;}

img {height: 250px; width: 250px;border-radius: 25px; }
.link {text-decoration: underline; color: rgb(194, 105, 42); font-size: 30px;}
.h2 {font-size: 20px; color:rgb(211, 27, 27)}
figure {border-radius: 25px; border: 2px solid #f9faf7;; flex-flow: column; ; max-width: 250; margin: auto; background-color: #222;}

figcaption {background-color: #222;color: #fff; font: italic smaller sans-serif; text-align: inherit; border-radius: 25px; position: relative; bottom: 11px;}
the_1 {font-size: 30px; color: white; font-style: oblique; position:relative; top:50px;}

