

body {background-image: url("https://cdn.pixabay.com/photo/2017/09/08/09/26/star-2728185_960_720.jpg"); text-align: center; padding-left: 25px; padding-right: 25px;}
li {color:rgb(228, 201, 201); margin: auto; list-style-position: inside; text-align:start;padding-left: 475px;}

.title {color:rgb(226, 223, 223); font-size: 40px; padding-bottom: 20px;}
.p1 {color:rgb(231, 230, 235); font-size: 25px; font-style: oblique;padding-top: 25px;}

img { display: flex; height: 250px; width: 250px; }
.link {text-decoration: underline; color: rgb(194, 105, 42); font-size: 30px;}
.h2 {font-size: 20px; color:rgb(211, 27, 27)}
figure {border: thin #c0c0c0 solid; display: flex; flex-flow: column; ; max-width: 250; margin: auto;}

figcaption {background-color: #222;color: #fff; font: italic smaller sans-serif; padding: 3px; text-align: inherit;}
the_1 {font-size: 30px; color: white; font-style: oblique; position:relative; top:50px;}

