.login {
    background-blend-mode:color-dodge;
    padding-top: 200px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    
    
  
}
.row, .btn {
    margin: 0px 25px 0px 75px;
    
}