{% extends 'todo/base.html' %}

{% block content %}
<!-- <ul>
    
    <p>Title: </p>
    <p>ID: {{ task.user }}</p>
    <p>Description: {{ task.description }}</p>
    
    <p>you have nothing to do.</p>
    
</ul> -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container-fluid py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card">
            <div class="card-header p-3">
              <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: vh-100">
  
              <table class="table mb-0 table table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Family Member</th>
                    <th scope="col">Task</th>
                    <!-- <th scope="col">Description</th> -->
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                {% for task in todo_views %}
                <tbody>
                  <tr class="fw-normal table table-hover">
                    <th>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                        style="width: 55px; height: auto;">
                      <span class="ms-2">{{ task.user }}</span>
                    </th>
                    <td class="align-middle">
                      <span >{{ task.title }} {{ task.description }}</span >
                    </td>
                    <td class="align-middle">
                        <span >{{ task.description }}</span >
                      </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span >{{ task.complete }}</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done">Done<i class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove">Remove<i class="fas fa-trash-alt text-danger text-decoration-none class"></i></a>
                    </td>
                  </tr>
                  
                </tbody>
                {% endfor %}
              </table>
  
            </div>
            <div class="card-footer text-end p-3">
              <button class="me-2 btn btn-link">Cancel</button>
              <button class="btn btn-primary">Add Task</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
{% endblock content %}

