.jumbotron {background-image: url(https://cdn.pixabay.com/photo/2015/05/30/17/19/denver-790472_1280.jpg);
color: white;
background-repeat: no-repeat;
background-size:cover;
height: 600px;}





.btn-toolbar-clickboxes1 {width: 200px;}


