.jumbotron {background-image: url(https://www.seti.org/sites/default/files/2020-10/earth-view-from-moon-perspective-footprints-1400px.jpg);
color: white;
background-repeat: no-repeat;
background-size: cover;}





.btn-toolbar-clickboxes1 {width: 200px;}


