body {
    background-color: black;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    color: black;
    text-align: center;
}

h2,
h3,
h4,
h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

p {
    display: inline-flex;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

ul {
    display: flex;
    background: white;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.nav-item {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

#banner {
    opacity: .5;
    color: white;
}

.card-img-overlay {
    text-align: center;
    vertical-align: middle;
    color: white;
    align-items: center;
}

.card {
    padding: 10px;
    position: relative;
}

.card-body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.card-title,
.card-text,
.card-footer {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.side-nav {
    align-self: right;
    align-items: right;
    position: fixed;
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
}

.footer {
    background-color: black;
    color: white !important;
    padding: 50 px;
    align-items: center;
    vertical-align: middle;
}