body {
    background-color: #e1ede9;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    color: black;
    text-align: center;
}

h2,
h3,
h4,
h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

p {
    display: inline-flex;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

ul {
    display: flex;
    background: white;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0px;
    display: flex;
    vertical-align: top;
}

.nav-item {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.card-body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.card-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.card-text {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.card-footer {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
}